.proj__header {
    background: $colour-secondary;
    height: 5rem;
    display: flex;
    align-items: center;
    flex-wrap: no-wrap;
    width: 100%;   
    &__logo {
        color: $colour-secondary;
        margin-top: 1rem;
        margin-left: 1rem;
        height: 100%;
    }
}