<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css"  rel="stylesheet" >
        <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" />
        <title>{% block title %}JustStreamIt{% endblock %}</title>
    {% endblock %}
</head>
<body>
  <div id="proj">
     <header class="proj__header">
        {% block header %}
            header
        {% endblock %}
     </header>
    <main class="proj__content">
        {% block content %}
            content
        {% endblock %}
    </main>
    <footer class="proj__footer">
        {% block footer %}
            &copy; Copyright 2022 by <a href="http://localhost:5000">Delphine Pythonique</a>.
        {% endblock %}
    </footer>
  </div>
</body>

</html>