html {
    // 10px div by def of 16px
    font-size: 100%;
}
body {
   #box-sizing: border-box;
    background: $color-background-main;
    margin: 0px;
    font-size: 1rem;
}
h1 {
  display: block;
  font-size: 1rem;
}

