/*
$colour-primary: #94701E;
$colour-secondary:  #E0B143;
$colour-accent: black;
$colour-white: #FFFF;
$colour-invalid: grey;
*/
html {
  font-size: 100%;
}

body {
  #box-sizing: border-box;
  background: white;
  margin: auto;
  font-size: 1rem;
}

main {
  background-color: #DAAD45;
}

figure {
  display: flex;
  margin: 0;
}

h2 {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.invalid {
  color: grey;
}

a {
  text-decoration: none;
  color: black;
}
a--active {
  color: #DAAD45;
}
a--active:hover {
  cursor: default;
  color: #DAAD45;
}

::-webkit-scrollbar-track {
  background-color: grey;
}

::-webkit-scrollbar {
  height: 0.4rem;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0.3rem;
}

@media screen and (max-width: 1024px) {
  body {
    width: 100%;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.proj__header {
  background: linear-gradient(0.25turn, white, black);
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}
.proj__header__logo {
  color: #DAAD45;
  margin-top: 1rem;
  margin-left: 1rem;
  height: 100%;
}

.proj__header__nav {
  flex: auto;
  text-align: right;
}
.proj__header__nav__link {
  padding-right: 10rem;
}
.proj__header__nav__link li {
  display: inline;
  font-size: 1.5rem;
  padding-left: 1.5rem;
}
.proj__header__nav__link li a {
  text-decoration: none;
  color: white;
}
.proj__header__nav__link li a.invalid {
  color: grey;
}
.proj__header__nav__link li--active {
  color: #DAAD45;
}
.proj__header__nav__link li--active:hover {
  cursor: default;
  color: #DAAD45;
}
.proj__header__nav__link li a:hover {
  color: white;
}

.proj__content {
  background-color: #DAAD45;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
}
.proj__content__main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

@media screen and (max-width: 1024px) {
  .proj__content__main {
    width: 100%;
  }
}
.proj__footer {
  background: black;
  color: white;
  padding: 1.5rem;
}

.bestmovie {
  margin-top: 2rem;
  display: flex;
  padding: 1.2rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: black;
  align-items: center;
  justify-content: center;
}
.bestmovie__text {
  padding-left: 1rem;
}
.bestmovie__img {
  padding-left: 2rem;
}
img.previous, img.next {
  height: 3rem;
  width: 3rem;
  font-weight: bold;
  font-size: xx-large;
  background-color: transparent;
  border-style: hidden;
  cursor: pointer;
}

.category {
  display: flex;
  align-items: center;
  height: 15rem;
  margin: 2rem;
}
.category ul {
  display: flex;
  scroll-snap-type: x mandatory;
  list-style-type: none;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: grabbing;
}
.category ul li {
  margin-left: 1rem;
  width: 12rem;
  scroll-snap-align: start;
}
.category ul li img {
  border-style: solid;
  border-width: 0.3rem;
  border-color: black;
}
.category__toprated {
  color: #DAAD45;
  border-color: black;
}

.movieDetailModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.movieDetailModal__content {
  background-color: #DAAD45;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 2rem;
  border: 0.3rem solid black;
  width: 50%;
  /* Could be more or less, depending on screen size */
}
.movieDetailModal__close {
  color: black;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}
.movieDetailModal__close:hover, .movieDetailModal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#movieDetailModal__content__paragraph {
  display: flex;
}
#movieDetailModal__content__paragraph div {
  padding-left: 1rem;
}

.movie {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .bestmovie {
    flex-direction: column;
  }

  #movieDetailModal__content__paragraph {
    flex-direction: column;
  }

  img.previous, img.next {
    height: 1.2rem;
    width: 1.2rem;
  }

  category li {
    width: 6rem;
  }
}

/*# sourceMappingURL=style.css.map */
