.bestmovie{
  display: flex;
  height: 30rem;
  margin:2rem;
  padding:1rem;
  border-style: solid;
  border-color: $colour-secondary;
  justify-content:  space-between;

}

.category{
  height: 15rem;
  margin:2rem;
  padding:1rem;
  border-style: solid;
  &--toprated{
    color: $colour-secondary;
    border-color: $colour-primary;
  }
}