html {
    // 10px div by def of 16px
    font-size: 100%;
}
body {
   #box-sizing: border-box;
    background: $colour-white;
    margin: auto;
    width: 60rem;
    font-size: 1rem;
}
main{
  background-color: $color-background-main;
}
figure{
  display: flex;
  margin:0;
}
h1 {
  display: block;
  font-size: 1rem;
  margin-left:2rem;
}

a {
  text-decoration: none;
  color: $colour-accent;


  &--active {
    color: $colour-secondary;

    &:hover {
      cursor: default;
      color: $colour-secondary;
    }
  }
}
::-webkit-scrollbar-track {
    background-color: $colour-invalid;

}

::-webkit-scrollbar {
    height:0.4rem;
    background-color: $colour-accent;

}

::-webkit-scrollbar-thumb {
    background-color: $colour-accent;
    border-radius: 0.3rem;

}

@media screen and (max-width: 1024px){
  body {
    width: 100%;
  }
}