.bestmovie{
  margin-top:2rem;
  display: flex;
  height: 30rem;

  border-style: solid;
  border-width: 0.5rem;
  border-color: $colour-secondary;
  justify-content:  space-between;
  &__text{
    padding-left: 1rem;
    width: 15rem;
  }
  &__img{
    height: 30rem;
    flex-grow: 2;
    padding-left: 2rem;
    & img{
      height: 100%;
      width: 100%;
    }
  }

}

img.previous, img.next{
  height:3rem;
  width: 3rem;
  font-weight: bold;
  font-size: xx-large;
  background-color: transparent;

  border-style: hidden;
  cursor:pointer;
}

.category{
  display: flex;
  align-items: center;
  height: 15rem;
  margin:2rem;
  padding:1rem;
  //border-style: solid;
  & ul {
    display: flex;
    scroll-snap-type: x mandatory;
    list-style-type: none;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 1rem 0;
       cursor: grabbing;

    & li {
      margin-left:1rem;
      width: 15rem;
      scroll-snap-align: start;
      & img{

        border-style: solid;
        border-width: 0.3rem;
        border-color: $colour-secondary;
      }
    }
  }

  &__toprated{
    color: $colour-secondary;
    border-color: $colour-primary;
  }
}

.movieDetailModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  &__content{
      background-color: $color-background-main;

      margin: 15% auto; /* 15% from the top and centered */
      padding: 2rem;
      border: 1rem solid #888;
      width: 50%; /* Could be more or less, depending on screen size */
  }
  &__close{
      color: #aaa;
      float: right;
      font-size: 2rem;
      font-weight: bold;
      &:hover, &:focus{
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
  }
}
#movieDetailModal__content__paragraph{
  display:flex;
  & div {
    padding-left:1rem;
  }
}

.movie{
  cursor: pointer;
}

@media screen and (max-width: 1024px){
  #movieDetailModal__content__paragraph {
    flex-direction: column;
  }
}