.bestmovie{
  margin-top:2rem;
  display: flex;
  //height: 18rem;
  padding: 1.2rem;
  border-style: solid;
  border-width: 0.2rem;
  border-color: $colour-primary;
  align-items: center;
  justify-content: center;

  &__text{
    padding-left: 1rem;
    //width: 15rem;
  }
  &__img{

    padding-left: 2rem;

    & img{

      //height: 100%;
      //width: 100%;
    }
  }
}

img.previous, img.next{
  height:3rem;
  width: 3rem;
  font-weight: bold;
  font-size: xx-large;
  background-color: transparent;
  border-style: hidden;
  cursor:pointer;
}

.category{
  display: flex;
  align-items: center;
  height: 15rem;
  margin:2rem;
  //padding:1rem;
  //border-style: solid;
  & ul {
    display: flex;
    scroll-snap-type: x mandatory;
    list-style-type: none;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 1rem ;
    margin-right: 1rem ;
    cursor: grabbing;

    & li {
      margin-left:1rem;
      width: 12rem;
      scroll-snap-align: start;
      & img{

        border-style: solid;
        border-width: 0.3rem;
        border-color: $colour-primary;
      }
    }
  }

  &__toprated{
    color: $colour-secondary;
    border-color: $colour-primary;
  }
}

.movieDetailModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  &__content{
      background-color: $colour-secondary;

      margin: 15% auto; /* 15% from the top and centered */
      padding: 2rem;
      border: 0.3rem solid $colour-primary;
      width: 50%; /* Could be more or less, depending on screen size */
  }
  &__close{
      color: $colour-primary;
      float: right;
      font-size: 2rem;
      font-weight: bold;
      &:hover, &:focus{
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
  }
}
#movieDetailModal__content__paragraph{
  display:flex;
  & div {
    padding-left:1rem;
  }
}

.movie{
  cursor: pointer;
}

@media screen and (max-width: 1024px){
  .bestmovie{
     flex-direction: column;
  }
  #movieDetailModal__content__paragraph {
    flex-direction: column;
  }
  img.previous, img.next {
    height: 1.2rem;
    width: 1.2rem;
  }
  category li {
    width: 6rem;
  }
}