$colour-primary: black;
$colour-secondary:  #DAAD45;
$colour-accent: black;
$colour-white: #FFFF;
$colour-invalid: grey;
/*
$colour-primary: #94701E;
$colour-secondary:  #E0B143;
$colour-accent: black;
$colour-white: #FFFF;
$colour-invalid: grey;
*/