$colour-primary: #4375E0;
$colour-secondary:  #94701E;
$color-background-main: #E0B143;
$colour-accent: #053294;
$colour-white: #FFFF;
$colour-invalid: #3083C7;
/*
$colour-primary: #60BCE0;
$colour-secondary:  #174061;
$color-background-main: #276AA1;
$colour-accent: #399CED;
$colour-white: #fff;
$colour-invalid: #3083C7;

 */