$colour-primary: #4375E0;
$colour-secondary:  #94701E;
$color-background-main: #E0B143;
$colour-accent: black;
$colour-white: #FFFF;
$colour-invalid: grey;
/*
$colour-primary: #4375E0;
$colour-secondary:  #94701E;
$color-background-main: #E0B143;
$colour-accent: #053294;
$colour-white: #FFFF;
$colour-invalid: #3083C7;

 */